/* CSS Grid styles */

// add the breakpoint and then add the grid.


@media screen and (min-width: 49em) {

     
  
     // Navigation
     #mainNavbar {
          position: relative;
          width: 100;
     }

     #mainMenu {
          position: absolute;
          right: 1em;
          text-align: right;

     }


     // Home/Landing Page
     .homepageMain {
          display: grid;
          width: 100%;
          margin: 0 auto;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: 
               "section1 section2"
               "section1 section2"
               "cta1 cta1"
               "cta2 cta2";
     }  

     .heroText {
          font-size: 3em;
     }

     #problem {
          display: grid;
          grid-area: section1;
          grid-template-areas: 
               "heading"
               "paragraph";
          padding: 1em;
          
          
     }

     #solution {
          display: grid;
          grid-area: section2;
          grid-template-areas: 
               "heading"
               "paragraph";
          padding: 1em;
          
     }

     .homePageSection {
          align-self: start;
     }

     .homePageHeading {
          display: grid;
          grid-area: heading;
          text-align: center;
          padding: .5em;
     }

     .homePageSection p {
          display: grid;
          grid-area: paragraph;
          padding: .5em;
     }

     #ctaSignUp {
          display: grid;
          grid-area: cta1;
          width: 100%;
          padding: 2em;
          height: 300px;

          #signUpBtn {
               height: 2em;
               width: 20%;
               font-size: 2em;

          }
     
     }

     .ctaHeading {
          text-align: left;
     }

     #ctaSearch {
          display: grid;
          grid-area: cta2;
     }

     #advSearchBtn {
          width: 50%;
          margin: 0 auto;
     }


     //Login and Sign-up Pages

     #loginPageContainer,
     #signUpPageContainer {
          display: grid;
          grid-template-columns: 1fr 1fr;

          h2 {
               grid-column: 1 / 3;
          }

          .heroImg {
               display: grid;
               grid-column: 1 / 2;
               width: 100%;
               padding: 1em 0;
               
          }
     }

     #loginForm,
     .userForm {
          display: grid;
          grid-column: 2 / 3;
          width: 100%;
     }

     #signUpForm {
          width: 100%;

          .form-submit-btn {
               margin: 0 auto;
          }
     }

     #loginAnchor {
          margin: 0 auto;
     }

     

     // About Page



     //


}