@mixin customBtn {
     background: linear-gradient($medBlue, $logoBlue);
     color: $logoYellow;
     font-family: $sans;
     letter-spacing: .1em;
     text-transform: uppercase;
     text-align: center;
     margin: 1em;
     border: 0;
}

@mixin customBtnHover {
     background: linear-gradient($darkBlue, $medBlue);
}