/* Mobile-first styles */


// ----------------------------------------//
/* General typography and color styles */
// ----------------------------------------//

body {
     color: $darkBlue;
}

p {
     font-family: $serif, serif;
     font-size: 20px;
     color: $darkBlue;
}

h1, h2, h3, h4, h5, h6 {
     font-family: $sans, sans-serif;
     color: $logoBlue;
}

.errorMsg {
    color: red;
    font-weight: 700;
}


// ----------------------------------------//
/* Accessibility-related */
// ----------------------------------------//

#skip { 
     position:absolute; 
     left:-1000px; 
     top:auto; 
     width:1px; 
     height:1px; 
     overflow:hidden;

     &:focus {
          position:static; 
          width:auto; 
          height:auto;
     }
} 





// ----------------------------------------//
/* Customizations */
// ----------------------------------------//

// ----------------------------------------//
/*Navigation */
// ----------------------------------------//

.logoNav {
     max-height: 75px;
     width: 50%;
}

.navbar-brand {
     margin: .5em;
     width: 30%;
}

.navbar-toggler {
     color: $logoBlue;
     opacity: 1;
     border: 1px solid $logoBlue;

     &:hover {
          background-color: $logoBlue;
          color: $logoYellow;
     }
}

#mainMenu {
  .nav-link {
    color: $darkBlue;
  }

}

.bg-yellow {
     background-color: $paleYellow;
}

//toggle menu





// .loginLinks {
//     display: inline;
//     max-width: 50%;
//     float: right;
//     padding: .5em 0;
// }


.loginBtn {
     @include customBtn;
     margin: .5em;

     &:hover {
          @include customBtnHover;
     }

     & a:hover {
        color: $logoYellow;
     }

} 

// ----------------------------------------//
/* Header */
// ----------------------------------------//

.headerImg {
     position: relative;
     width: 100%;
}

.heroImg {
     background-size: cover;
     width: 100%;
}

.heroText {
     text-align: center;
     position: absolute;
     bottom: 1em;
     color: white;
     text-shadow: 3px 1px 3px black;
     z-index: 5;
     text-transform: uppercase;
     font-family: $sans;
     font-size: 1.5em;
     width: 100%;
     margin: 0 auto;
}

// ----------------------------------------//
// forms
// ----------------------------------------//

label {
     color: $logoBlue;
}

.form-submit-btn {
     @include customBtn;

     &:hover {
          @include customBtnHover;
     }
}



// ----------------------------------------//
//main sections
// ----------------------------------------//

.homepageMain,
.page {
     width: 90%;
     margin: 0 auto;
     display: block;
}


.pageHeading {
     text-align: center;
     margin: .5em;
     color: $logoBlue;
}


// ----------------------------------------//
// Home/Landing Page
// ----------------------------------------//

.homePageTitle {
     text-align: center;
     margin-top: 1em;
}


.homePageHeading {
     text-align: center;
}

.ctaSection {
     width: 80%;
     margin: 2em auto;
     text-align: center;

     h3 {
          text-align: center;
     }
}

.ctaBtn {
     @include customBtn;
     

     &:hover {
          @include customBtnHover;
     }
}

#ctaSignUp {
  background: linear-gradient($darkBlue, $logoBlue);
  padding: 1em;
  
  h3 {
    color: $logoYellow;
  }  

  #signUpBtn {
    width: 50%;
    margin: 0 auto;
  }

  .ctaBtn {
    background: linear-gradient($medYellow, $logoYellow);
    color: $logoBlue;

    &:hover {
      background: linear-gradient($darkYellow, $medYellow);
      color: $logoBlue;
    }
  }
}

#advSearchBtn {
     margin-top: 1em;
     @include customBtn;
     
     &:hover {
          @include customBtnHover;
     }
}

.advSearchHidden {
     display: block;
     visibility: hidden;
}

.advSearch {
  width: 100%;

}


// ----------------------------------------//
//About page
// ----------------------------------------//

.aboutHeader {
     //color: $darkBlue;
     text-align: center;
     padding: 1em;
}

.aboutContent {
     line-height: 1.6;

     p {
          margin-bottom: 1em;
     }
}

.aboutImg {
     max-width: 30%;
     float: right;
}

// ----------------------------------------//
//Log in page
// ----------------------------------------//

#loginForm {
     max-width: 80%;
     margin: 1em auto;
     padding: .5em;

     .form-submit-btn {
       width: 75%;
       margin: 0 auto;
     }
}

.sideImg {
     width: 45%;
     margin: 1em;
}

#signupLink {
  text-align: center;
}


// ----------------------------------------//
//Sign up page
// ----------------------------------------//

#signUpForm {
     max-width: 75%;
     margin: 1em auto;
     padding: .5em;
}

// #loginAnchor {
//      position: relative;
//      right: 1em;
// }

// ----------------------------------------//
// Add Items page and/or Donations Page
// ----------------------------------------//

#donationHeading {
    text-align: center;
    margin: 1em 0;
}

.donationForm {
  
  td>button {
    width: 75%;
    margin: 0 auto;
  }
}


//Mike's CSS from add_item.css
#charity_type_selection {
     display: none;
   }

// Mike's CSS from home.css
#mapid { 
    height: 600px; 
    width: 600px;
  }


// ----------------------------------------//
// Map results page
// ----------------------------------------//

//Mike's CSS from see_charities.css
.map {
     border: 2px solid blue;
     height: 500px;
     width: 500px;
   }


// ----------------------------------------//
// thank you page
// ----------------------------------------//




// ----------------------------------------//
// footer
// ----------------------------------------//
footer {
     clear: both;
     display: block;
     text-align: center;
     border-top: 2px solid $logoBlue;
     padding: 1em;
     margin: 2em auto;

     p {
       font-size: .75em;
     }
    
}

footer h6 {
     text-transform: uppercase;
     font-size: .5em;
     letter-spacing: .1em;
     line-height: 1.6;

}


