// Import necessary files

// Variables
@import '_variables.scss';
@import '_mixins.scss';



// Customizations
.logoNav {
     max-height: 75px;
     width: 50%;
}

.headerImg {
     background-size: cover;
     width: 100%;
}


.pageMain {
     width: 90%;
     margin: 0 auto;
}

.homePageSection {}

.homePageHeading {}

.ctaSection {}

.ctaHeading {}
