// Import necessary files

// Variables
@import '_variables.scss';
@import '_mixins.scss';
@import '_grid.scss';


// ----------------------------------------//
/* General typography and color styles */
// ----------------------------------------//

body {
     color: $darkBlue;
}

p {
     font-family: $serif, serif;
     font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
     font-family: $sans, sans-serif;
}


// ----------------------------------------//
/* Accessibility-related */
// ----------------------------------------//

#skip a { 
     position:absolute; 
     left:-10000px; 
     top:auto; 
     width:1px; 
     height:1px; 
     overflow:hidden;

     &:focus {
          position:static; 
          width:auto; 
          height:auto;
     }
} 





// ----------------------------------------//
/* Customizations */
// ----------------------------------------//

// ----------------------------------------//
//navbar
// ----------------------------------------//

.logoNav {
     max-height: 75px;
     width: 50%;
}

.navbar-brand {
     margin: .5em;
}

.navbar-toggler {
     color: $logoBlue;
     opacity: 1;
     border: 1px solid $logoBlue;

     &:hover {
          background-color: $logoBlue;
          color: $logoYellow;
     }
}

.bg-yellow {
     background-color: $paleYellow;
}

.loginLinks {
     float: right;
     padding: .5em 0;
}

.loginBtn {
     @include customBtn;

     &:hover {
          @include customBtnHover;
     }
} 

// ----------------------------------------//
//header 
// ----------------------------------------//

.headerImg {
     background-size: cover;
     width: 100%;
     position: relative;
}

.headerText {
     text-align: center;
     position: absolute;
     bottom: 1em;
     color: white;
     text-shadow: 3px 1px 3px black;
     z-index: 5;
     text-transform: uppercase;
     font-family: $sans;
     font-size: 4em;
     width: 100%;
     margin: 0 auto;
}

// ----------------------------------------//
//main sections
// ----------------------------------------//

.pageMain {
     width: 90%;
     margin: 0 auto;
}

.homePageTitle {
     text-align: center;
     margin-top: 1em;
}


.homePageHeading {
     text-align: center;
}

.ctaSection {
     width: 50%;
     margin: 2em auto;
     text-align: center;

     h3 {
          text-align: center;
     }
}

.ctaBtn {
     @include customBtn;
     //max-width: 15%;

     &:hover {
          @include customBtnHover;
     }
}

#advSearchBtn {
     //max-width: 15%;
     margin-top: 1em;
     @include customBtn;
     font-family: $sans;
     //font-weight: 200;
     //font-size: .75em;

     &:hover {
          @include customBtnHover;
     }
}

.advSearchHidden {
     display: block;
     visibility: hidden;
}


// ----------------------------------------//
//About page
// ----------------------------------------//


// ----------------------------------------//
//Log in page
// ----------------------------------------//


// ----------------------------------------//
//Sign up page
// ----------------------------------------//


// ----------------------------------------//
// Add Items page
// ----------------------------------------//

// ----------------------------------------//
// Map results page
// ----------------------------------------//

// ----------------------------------------//
// thank you page
// ----------------------------------------//

