/* Mobile-first styles */
/* General typography and color styles */
body {
  color: #0B0C25;
}

p {
  font-family: "Matrix II", serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ministry", sans-serif;
}

/* Accessibility-related */
#skip {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Customizations */
.logoNav {
  max-height: 75px;
  width: 50%;
}

.navbar-brand {
  margin: 0.5em;
}

.navbar-toggler {
  color: #2E3192;
  opacity: 1;
  border: 1px solid #2E3192;
}
.navbar-toggler:hover {
  background-color: #2E3192;
  color: #F9ED32;
}

.nav-link {
  color: #0B0C25;
}

.bg-yellow {
  background-color: #FDFACC;
}

.loginLinks {
  float: right;
  padding: 0.5em 0;
}

.loginBtn {
  background-color: #2E3192;
  color: #F9ED32;
  text-align: center;
}
.loginBtn:hover {
  background-color: #0B0C25;
}

.heroImg {
  position: relative;
  width: 100%;
}

.headerImg {
  background-size: cover;
  width: 100%;
}

.headerText {
  text-align: center;
  position: absolute;
  bottom: 1em;
  color: white;
  text-shadow: 3px 1px 3px black;
  z-index: 5;
  text-transform: uppercase;
  font-family: "Ministry";
  font-size: 4em;
  width: 100%;
  margin: 0 auto;
}

label {
  color: #2E3192;
}

.form-submit-btn {
  background-color: #2E3192;
  color: #F9ED32;
  text-align: center;
}
.form-submit-btn:hover {
  background-color: #0B0C25;
}

#signUpForm .form-submit-btn {
  position: absolute;
  right: 1em;
}

.homepageMain {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.page {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.pageHeading {
  text-align: center;
  margin: 0.5em;
  color: #2E3192;
}

.homePageTitle {
  text-align: center;
  margin-top: 1em;
}

.homePageHeading {
  text-align: center;
}

.ctaSection {
  width: 50%;
  margin: 2em auto;
  text-align: center;
}
.ctaSection h3 {
  text-align: center;
}

.ctaBtn {
  background-color: #2E3192;
  color: #F9ED32;
  text-align: center;
}
.ctaBtn:hover {
  background-color: #0B0C25;
}

#advSearchBtn {
  margin-top: 1em;
  background-color: #2E3192;
  color: #F9ED32;
  text-align: center;
  font-family: "Ministry";
}
#advSearchBtn:hover {
  background-color: #0B0C25;
}

.advSearchHidden {
  display: block;
  visibility: hidden;
}

.aboutHeader {
  color: #0B0C25;
  text-align: center;
  padding: 1em;
}

.aboutContent {
  float: left;
  line-height: 1.6;
}
.aboutContent p {
  margin-bottom: 1em;
}

.aboutImg {
  max-width: 30%;
  float: right;
}

#loginForm {
  max-width: 80%;
  margin: 1em auto;
  padding: 0.5em;
}

.sideImg {
  width: 45%;
  margin: 1em;
}

#signUpForm {
  max-width: 75%;
  margin: 1em auto;
  padding: 0.5em;
}

#loginAnchor {
  position: relative;
  right: 1em;
}

#charity_type_selection {
  display: none;
}

.map {
  border: 2px solid blue;
  height: 500px;
  width: 500px;
}

footer {
  text-align: center;
  border-top: 2px solid #2E3192;
  padding: 1em;
  margin: 2em auto;
}

footer h6 {
  text-transform: uppercase;
  font-size: 0.5em;
}

/* CSS Grid styles */
@media screen and (min-width: 49em) {
  .homepageMain {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-areas: "section1 section2" "section1 section2" "cta1 cta1" "cta2 cta2";
  }

  #problem {
    display: grid;
    grid-area: section1;
    grid-template-areas: "heading" "paragraph";
    padding: 1em;
  }

  #solution {
    display: grid;
    grid-area: section2;
    grid-template-areas: "heading" "paragraph";
    padding: 1em;
  }

  .homePageSection {
    align-self: start;
  }

  .homePageHeading {
    display: grid;
    grid-area: heading;
    text-align: center;
    padding: 0.5em;
  }

  .homePageSection p {
    display: grid;
    grid-area: paragraph;
    padding: 0.5em;
  }

  #ctaSignUp {
    display: grid;
    grid-area: cta1;
  }

  .ctaHeading {
    text-align: left;
  }

  #ctaSearch {
    display: grid;
    grid-area: cta2;
  }

  #signUpForm {
    max-width: 75%;
  }

  .loginPageContainer {
    display: grid;
    grid-auto-columns: 1fr 1fr;
  }

  #loginForm {
    display: grid;
    grid-column: 2/3;
    width: 100%;
  }

  .sideImg {
    display: grid;
    grid-column: 1/2;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
