/* Mobile-first styles */
/* General typography and color styles */
body {
  color: #0B0C25;
}

p {
  font-family: "Matrix II", serif;
  font-size: 20px;
  color: #0B0C25;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ministry", sans-serif;
  color: #2E3192;
}

a {
  color: #D67A00;
}
a:hover {
  color: #0B0C25;
  text-decoration: none;
  border-bottom: 1px dotted #0B0C25;
}

.errorMsg {
  color: red;
  font-weight: 700;
}

.companyName {
  color: #2E3192;
  font-weight: 700;
}

/* Accessibility-related */
#skip {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Customizations */
/*Navigation */
.logoNav {
  max-height: 75px;
  width: 50%;
}

.navbar-brand {
  margin: 0.5em;
  width: 30%;
}
.navbar-brand:hover {
  text-decoration: none;
  border: 0;
}

.navbar-toggler {
  color: #2E3192;
  opacity: 1;
  border: 1px solid #2E3192;
}
.navbar-toggler:hover {
  background-color: #2E3192;
  color: #F9ED32;
}

#mainMenu .nav-link {
  color: #0B0C25;
}

.bg-yellow {
  background-color: #FDFACC;
}

.loginBtn {
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
  margin: 0.5em;
  z-index: 1;
}
.loginBtn:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
  color: #F9ED32;
  border: 0;
}

/* Header */
.headerImg {
  position: relative;
  width: 100%;
}

.heroImg {
  background-size: cover;
  width: 100%;
}

.heroText {
  text-align: center;
  position: absolute;
  bottom: 1em;
  color: white;
  text-shadow: 3px 1px 3px black;
  z-index: 5;
  text-transform: uppercase;
  font-family: "Ministry";
  font-size: 1.5em;
  width: 100%;
  margin: 0 auto;
}

#demo {
  width: 1330px;
  height: 0px;
  padding: 8px;
}

#logo {
  position: relative;
  height: 150px;
  z-index: -1;
  background: url(../../greensock/assets/images/truck.png) no-repeat;
}

label {
  color: #2E3192;
}

.form-submit-btn {
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
}
.form-submit-btn:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
}

.homepageMain,
.page {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.pageHeading {
  text-align: center;
  margin: 0.5em;
  color: #2E3192;
}

.homePageTitle {
  text-align: center;
  margin-top: 1em;
}

.homePageHeading {
  text-align: center;
}

.ctaSection {
  width: 80%;
  margin: 2em auto;
  text-align: center;
}
.ctaSection h3 {
  text-align: center;
}

.ctaBtn {
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
}
.ctaBtn:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
}

#ctaSignUp {
  background: linear-gradient(#0B0C25, #2E3192);
  padding: 1em;
}
#ctaSignUp h3 {
  color: #F9ED32;
}
#ctaSignUp #signUpBtn {
  width: 50%;
  margin: 0 auto;
}
#ctaSignUp .ctaBtn {
  background: linear-gradient(#FFB34E, #F9ED32);
  color: #2E3192;
}
#ctaSignUp .ctaBtn:hover {
  background: linear-gradient(#D67A00, #FFB34E);
  color: #2E3192;
}

#advSearchBtn {
  margin-top: 1em;
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
}
#advSearchBtn:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
}

.advSearchHidden {
  display: block;
  visibility: hidden;
}

.advSearch {
  width: 100%;
}

.aboutHeader {
  text-align: center;
  padding: 1em;
}

.aboutContent {
  line-height: 1.6;
}
.aboutContent p {
  margin-bottom: 1em;
}

.aboutImg {
  max-width: 30%;
  float: right;
}

#loginForm {
  max-width: 80%;
  margin: 1em auto;
  padding: 0.5em;
}
#loginForm .form-submit-btn {
  width: 75%;
  margin: 0 auto;
}

.sideImg {
  width: 45%;
  margin: 1em;
}

#signupLink {
  text-align: center;
}

#signUpForm,
.signUpForm {
  max-width: 75%;
  margin: 1em auto;
  padding: 0.5em;
}

#logoutMessage {
  text-align: center;
  font-family: "Ministry";
  font-size: 1.25em;
  color: #2E3192;
  margin: 1em;
}

#logBackIn {
  text-align: center;
}

#donationHeading {
  text-align: center;
  margin: 1em 0;
}

.donationForm td > button {
  width: 75%;
  margin: 0 auto;
}

#donationFollowUp {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#donationFollowUp .ctaBtn {
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  border-radius: 15px;
}
#donationFollowUp .ctaBtn a {
  color: #F9ED32;
}
#donationFollowUp .ctaBtn a:hover {
  border: 0;
}
#donationFollowUp .ctaBtn:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
}

#charity_type_selection {
  display: none;
}

#mapid {
  width: 90%;
}

#map {
  border: 2px solid black;
  width: 90%;
  max-width: 500px;
  height: 500px;
}

#nearbyCharities,
#favCharities {
  display: block;
}

.charityName {
  font-weight: 700;
}

.resultsBody {
  width: 90%;
  margin: 0 auto;
}

.inlineBtns {
  display: inline;
  margin: 0 0.5em;
}

.listBlock {
  margin: 2em 0 0;
  border: 1px solid #2E3192;
  padding: 1em;
}

.ctaBtnRed {
  background: linear-gradient(#1D1F5B, #2E3192);
  color: #F9ED32;
  font-family: "Ministry";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
  border: 0;
  background: linear-gradient(#8A0000, red);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ctaBtnRed:hover {
  background: linear-gradient(#0B0C25, #1D1F5B);
  background: linear-gradient(#450000, #8A0000);
}

.profileSection {
  width: 100%;
  border: 3px solid #2E3192;
  padding: 1em;
}

#charityInfo {
  margin: 1em;
}

footer {
  clear: both;
  display: block;
  text-align: center;
  border-top: 2px solid #2E3192;
  padding: 1em;
  margin: 2em auto;
}
footer p {
  font-size: 0.75em;
}

footer h6 {
  text-transform: uppercase;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  line-height: 1.6;
}

/* CSS Grid styles */
@media screen and (min-width: 49em) {
  #mainNavbar {
    position: relative;
    width: 100%;
  }

  #mainMenu {
    position: absolute;
    right: 1em;
    text-align: right;
  }

  .homepageMain {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "section1 section2" "section1 section2" "cta1 cta1" "cta2 cta2";
  }

  .heroText {
    font-size: 3em;
  }

  #problem {
    display: grid;
    grid-area: section1;
    grid-template-areas: "heading" "paragraph";
    padding: 1em;
  }

  #solution {
    display: grid;
    grid-area: section2;
    grid-template-areas: "heading" "paragraph";
    padding: 1em;
  }

  .homePageSection {
    align-self: start;
  }

  .homePageHeading {
    display: grid;
    grid-area: heading;
    text-align: center;
    padding: 0.5em;
  }

  .homePageSection p {
    display: grid;
    grid-area: paragraph;
    padding: 0.5em;
  }

  #ctaSignUp {
    display: grid;
    grid-area: cta1;
    width: 100%;
    padding: 2em;
    height: 300px;
  }
  #ctaSignUp #signUpBtn {
    height: 2em;
    width: 20%;
    font-size: 1.5em;
  }

  .ctaHeading {
    text-align: left;
  }

  #ctaSearch {
    display: grid;
    grid-area: cta2;
  }

  #advSearchBtn {
    width: 50%;
    margin: 0 auto;
  }

  #loginPageContainer,
#signUpPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #loginPageContainer h2,
#signUpPageContainer h2 {
    grid-column: 1/3;
  }
  #loginPageContainer .heroImg,
#signUpPageContainer .heroImg {
    display: grid;
    grid-column: 1/2;
    width: 100%;
    padding: 1em 0;
  }

  #loginForm,
.userForm {
    display: grid;
    grid-column: 2/3;
    width: 100%;
  }

  #signUpForm {
    width: 100%;
  }
  #signUpForm .form-submit-btn {
    margin: 0 auto;
  }

  #loginAnchor {
    margin: 0 auto;
  }

  #nearbyCharities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map list" "map list";
    width: 100%;
    margin: 1em auto;
    max-height: 600px;
  }

  #mapid {
    display: grid;
    grid-area: map;
    padding: 1em;
    width: 100%;
    max-height: 500px;
  }

  #nearbyList {
    display: grid;
    grid-area: list;
    padding: 1em;
    max-height: 500px;
    overflow: scroll;
  }

  #favCharities {
    width: 100%;
    margin: 1em auto;
  }
}

/*# sourceMappingURL=style.css.map */
